[global]
    server string = %h
    server role = standalone
    obey pam restrictions = yes
    unix password sync = no
    use sendfile = yes
    map to guest = never
    browseable = no
    guest ok = no
    server smb encrypt = desired

    # macOS / iOS compatibility
    vfs objects = fruit streams_xattr 
    fruit:aapl = yes
    fruit:nfs_aces = no
    ; fruit:model = Xserve
    ; fruit:encoding = native
    ; fruit:resource = stream
    ; fruit:metadata = stream

[homes]
    read only = no
    browseable = no
    guest ok = no
    create mask = 0600
    directory mask = 0700
    valid users = %S

{% for share in shares %}
[{{ share.name }}]
{% if share.inherit is defined %}
    copy = {{ share.inherit }}
{% endif %}
{% if share.comment is defined %}
    comment = {{ share.comment }}
{% endif %}
    path = {{ share.path }}
    read only = {{ share.readonly | default(True) | ternary('yes', 'no') }}
    browseable = {{ share.browsable | default(False) | ternary('yes', 'no') }}
    guest ok = {{ share.guest_ok | default(False) | ternary('yes', 'no') }}
    create mask = {{ share.create_mask | default('0660') }}
    directory mask = {{ share.directory_mask | default('0770') }}
    force create mode = {{ share.force_create_mode | default('0660') }}
    force directory mode = {{ share.force_directory_mode | default('0770') }}
    valid users = {{ share.users | default([]) | join(', ') }}
{% if share.allow_hosts is defined %}
    hosts allow = {{ share.allow_hosts | join(', ') }}
{% endif %}

{% endfor %}
