{
    "alt-speed-down": {{ transmission_alt_speed_down | to_json }},
    "alt-speed-enabled": {{ transmission_alt_speed_enabled | to_json }},
    "alt-speed-time-begin": {{ transmission_alt_speed_time_begin | to_json }},
    "alt-speed-time-day": {{ transmission_alt_speed_time_day | to_json }},
    "alt-speed-time-enabled": {{ transmission_alt_speed_time_enabled | to_json }},
    "alt-speed-time-end": {{ transmission_alt_speed_time_end | to_json }},
    "alt-speed-up": {{ transmission_alt_speed_up | to_json }},
    "bind-address-ipv4": {{ transmission_bind_address_ipv4 | to_json }},
    "bind-address-ipv6": {{ transmission_bind_address_ipv6 | to_json }},
    "blocklist-enabled": {{ transmission_blocklist_enabled | to_json }},
    "blocklist-url": {{ transmission_blocklist_url | to_json }},
    "cache-size-mb": {{ transmission_cache_size_mb | to_json }},
    "dht-enabled": {{ transmission_dht_enabled | to_json }},
    "download-dir": {{ transmission_download_dir | to_json }},
    "download-limit": {{ transmission_download_limit | to_json }},
    "download-limit-enabled": {{ transmission_download_limit_enabled | to_json }},
    "download-queue-enabled": {{ transmission_download_queue_enabled | to_json }},
    "download-queue-size": {{ transmission_download_queue_size | to_json }},
    "encryption": {{ transmission_encryption }},
    "idle-seeding-limit": {{ transmission_idle_seeding_limit | to_json }},
    "idle-seeding-limit-enabled": {{ transmission_idle_seeding_limit_enabled | to_json }},
    "incomplete-dir": {{ transmission_incomplete_dir | to_json }},
    "incomplete-dir-enabled": {{ transmission_incomplete_dir_enabled | to_json }},
    "lpd-enabled": {{ transmission_lpd_enabled | to_json }},
    "max-peers-global": {{ transmission_max_peers_global | to_json }},
    "message-level": {{ transmission_message_level | to_json }},
    "peer-congestion-algorithm": {{ transmission_peer_congestion_algorithm | to_json }},
    "peer-id-ttl-hours": {{ transmission_peer_id_ttl_hours | to_json }},
    "peer-limit-global": {{ transmission_peer_limit_global | to_json }},
    "peer-limit-per-torrent": {{ transmission_peer_limit_per_torrent | to_json }},
    "peer-port": {{ transmission_peer_port | to_json }},
    "peer-port-random-high": {{ transmission_peer_port_random_high | to_json }},
    "peer-port-random-low": {{ transmission_peer_port_random_low | to_json }},
    "peer-port-random-on-start": {{ transmission_peer_port_random_on_start | to_json }},
    "peer-socket-tos": {{ transmission_peer_socket_tos | to_json }},
    "pex-enabled": {{ transmission_pex_enabled | to_json }},
    "port-forwarding-enabled": {{ transmission_port_forwarding_enabled | to_json }},
    "preallocation": {{ transmission_preallocation }},
    "prefetch-enabled": {{ transmission_prefetch_enabled | to_json }},
    "queue-stalled-enabled": {{ transmission_queue_stalled_enabled | to_json }},
    "queue-stalled-minutes": {{ transmission_queue_stalled_minutes | to_json }},
    "ratio-limit": {{ transmission_ratio_limit | to_json }},
    "ratio-limit-enabled": {{ transmission_ratio_limit_enabled | to_json }},
    "rename-partial-files": {{ transmission_rename_partial_files | to_json }},
    "rpc-authentication-required": {{ transmission_rpc_authentication_required | to_json }},
    "rpc-bind-address": {{ transmission_rpc_bind_address | to_json }},
    "rpc-enabled": {{ transmission_rpc_enabled | to_json }},
    "rpc-host-whitelist": {{ transmission_rpc_host_whitelist | to_json }},
    "rpc-host-whitelist-enabled": {{ transmission_rpc_host_whitelist_enabled | to_json }},
    "rpc-password": {{ transmission_rpc_password | to_json }},
    "rpc-port": {{ transmission_rpc_port | to_json }},
    "rpc-url": {{ transmission_rpc_url | to_json }},
    "rpc-username": {{ transmission_rpc_username | to_json }},
    "rpc-whitelist": {{ transmission_rpc_whitelist | to_json }},
    "rpc-whitelist-enabled": {{ transmission_rpc_whitelist_enabled | to_json }},
    "scrape-paused-torrents-enabled": {{ transmission_scrape_paused_torrents_enabled | to_json }},
    "script-torrent-done-enabled": {{ transmission_script_torrent_done_enabled | to_json }},
    "script-torrent-done-filename": {{ transmission_script_torrent_done_filename | to_json }},
    "seed-queue-enabled": {{ transmission_seed_queue_enabled | to_json }},
    "seed-queue-size": {{ transmission_seed_queue_size | to_json }},
    "speed-limit-down": {{ transmission_speed_limit_down | to_json }},
    "speed-limit-down-enabled": {{ transmission_speed_limit_down_enabled | to_json }},
    "speed-limit-up": {{ transmission_speed_limit_up | to_json }},
    "speed-limit-up-enabled": {{ transmission_speed_limit_up_enabled | to_json }},
    "start-added-torrents": {{ transmission_start_added_torrents | to_json }},
    "trash-original-torrent-files": {{ transmission_trash_original_torrent_files | to_json }},
    "umask": {{ transmission_umask }},
    "upload-limit": {{ transmission_upload_limit | to_json }},
    "upload-limit-enabled": {{ transmission_upload_limit_enabled | to_json }},
    "upload-slots-per-torrent": {{ transmission_upload_slots_per_torrent | to_json }},
    "utp-enabled": {{ transmission_utp_enabled | to_json }}
}
