<VirtualHost *:443>
	SSLCertificateFile /etc/letsencrypt/live/{{ main_domain }}/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/{{ main_domain }}/privkey.pem
	Include /etc/letsencrypt/options-ssl-apache.conf

	<Location />
		Deny from all
		Options None
		ErrorDocument 403 Forbidden.
	</Location>
</VirtualHost>
