server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ subdomain }}.{{ main_domain }};

    add_header Strict-Transport-Security "max-age=63072000" always;

    access_log /var/log/nginx/{{ subdomain }}.access.log;
    error_log /var/log/nginx/{{ subdomain }}.error.log;

    {% filter indent(width=4) -%}
    {% block server_params %}{% endblock %}
    {% endfilter %}

    location / {
        proxy_pass http://127.0.0.1:{{ port }};

        {% filter indent(width=8) -%}
        {% block proxy_params %}{% endblock %}
        {% endfilter %}

    }
}
