<Macro SSLStuff $certificate_name>
	SSLCertificateFile /etc/letsencrypt/live/$certificate_name/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/$certificate_name/privkey.pem
	Include /etc/letsencrypt/options-ssl-apache.conf
</Macro>

<VirtualHost *:443>
	Use SSLStuff *.{{ main_domain }}
	Use DefaultDeny
</VirtualHost>

<VirtualHost *:443>
	ServerName {{ main_domain }}
	Use SSLStuff {{ main_domain }}
	Use DefaultDeny
</VirtualHost>
