<VirtualHost *:80>
	ServerName {{ vaultwarden_domain }}
	Redirect permanent / https://{{ vaultwarden_domain }}/
</VirtualHost>

<VirtualHost *:443>
	ServerName {{ vaultwarden_domain }}

	ProxyPass "/" "http://localhost:{{ vaultwarden_port }}/"
	ProxyPassReverse "/" "http://localhost:{{ vaultwarden_port }}/"
</VirtualHost>
